.footer
{
    background-color: #3E4001;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 150px;
    padding-top: 50px;
}
.footer-panel-frame
{
    display: flex;
    gap: 80px;
}
.footer-panel-header
{
    color: #87c01f;
    font-size: 20px;
    font-weight: 500;
}
.foot-links
{
    list-style: none;
    padding:0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icons
{
    flex-direction: row;
    gap: 20px;
}
.social-icon
{
    width: 45px;
    height: 45px;
}
.social-icon:hover
{
    cursor: pointer;
}
.foot-item
{
    display: flex;
    gap: 10px;
    color: #87c01f;
    font-size: 16px;
    text-decoration: none;
}
.link:hover{color:#afed3b;}
.foot-icon
{
    padding: 7px;
    width: 10px;
    height: 10px;
}
.location
{
    background: url("../Assets/Icons/place-marker-15395.png");
    background-size: cover;
    background-position: center;
}
.time
{
    background: url("../Assets/Icons/circular-wall-clock-black-outline.png");
    background-size: cover;
    background-position: center;
}
.phone
{
    background: url("../Assets/Icons/phone-6856.png");
    background-size: cover;
    background-position: center;
}
.mail
{
    background: url("../Assets/Icons/mail-5888.png");
    background-size: cover;
    background-position: center;
}