.navBar
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    border-bottom: solid 3px #537512;
    width: 1400px;
    height: 80px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.nav-logo
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}
.logo-icon
{
    width: 65px;
    height: 65px;
    object-fit: cover;
}
.logo-text
{
    color: #537512;
    font-size: 76px;
    font-weight: 400;
}
.nav-links
{
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding-top: 35px;

}
.nav-item
{
    color: #537512;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-item:hover
{
    color:#87c01f;
}
.nav-options
{
    display:flex;
    gap:20px; 
    align-items: center;
}
.nav-link-text
{
    color:white;
}
.nav-order
{
    width: 130px;
    height: 50px;
    border: solid 3px #537512;
    border-radius: 15px;
    font-size: 20px;
    background-color: #537512;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.nav-order:hover
{
    cursor: pointer;
    background-color: #87c01f;
    border-color:#87c01f;
}
.nav-cart
{
    width: 50px;
    height: 50px;
    border: none;
    background: url("../Assets/Icons/shopping-cart-3041.png");
    background-size: contain;
    position: relative;
    top: 3px;
}
.nav-cart:hover
{
    width: 50px;
    height: 50px;
    background: url("../Assets/Icons/shopping-cart-3041_light.png");
    background-size: contain;
}