.navBar
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    border-bottom: solid 3px #87c01f;
    width: 1400px;
    height: 80px;
    margin-top: 20px;
    padding-bottom: 20px;
    align-self:center;
    z-index: 1;
}
.nav-links
{
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding-top: 35px;
}
.nav-item
{
    color: #87c01f;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-item:hover{color:#afed3b;}
.active{color:#afed3b;}
.nav-options
{
    display:flex;
    gap:20px; 
    align-items: center;
}
.nav-link-text
{
    color:white;
}
.nav-button
{
    width: 130px;
    height: 50px;
    border: solid 3px #87c01f;
    border-radius: 15px;
    font-size: 18px;
    background-color: #87c01f;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.nav-button:hover
{
    cursor: pointer;
    background-color: #afed3b;
    border-color:#afed3b;
}
.nav-cart
{
    width: 50px;
    height: 50px;
    border: none;
    background: url("../../Assets/Icons/shopping-cart-3041.png");
    background-size: contain;
    position: relative;
    top: 3px;
}
.nav-cart:hover
{
    width: 50px;
    height: 50px;
    background: url("../../Assets/Icons/shopping-cart-3041_light.png");
    background-size: contain;
    cursor: pointer;
}